.App {
text-align: center;
}

@media.ui.container {
  margin-left: 0px;
  margin-right: 0px;
}


.topSlash {
overflow:hidden;
height: 100vh;
background:
  linear-gradient(170deg, #7631D5 15%, transparent 15%),
  linear-gradient(170deg, #7448D7 55%, transparent 55%),
  linear-gradient(170deg, #746FDF 70%, transparent 70%)
}

.topHeader {
color: white;
font-size: 4vw;
font-weight: bold;
}

.ui.borderless.menu {
 background: transparent;
 border: transparent;
 box-shadow: none;
}

div.ui.menu .item {
 color: white;
}

div.ui.menu .dropdown.item .menu {
 background: transparent;
 border: transparent;
 box-shadow: none;
}

div.ui.active.visible.item.dropdown {
 color: white;
}
